h1 {
    padding: 20px;
    margin: 20px;
    text-decoration: underline;
    text-shadow: 2px 2px 0 gray;
    text-align: center;
}

p {
    border: 8px solid gray;
    padding: 20px;
    margin: 20px;
}

.absatz-1 {
    font-family: sans-serif;
}

.absatz-2 {
    font-family: monospace;
}

.absatz-3 {
    font-family: 'Roboto', sans-serif;
}
